.inputEnhancedContainer{
    .styleInput{
        background-color: #DDEAF3;
        border-radius: 15px;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        padding: 8px 18px;
        font-family: 'Google Sans';
        font-size: 14px;
        color: #597393;
        border-color: transparent;
    }
    .labelInput{
        font-family: 'Google Sans';
        font-size: 14px;
        color: #597393;
        margin: 5px 0;
        margin-top: 10px;
    }
}