.AddLeadFailed{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .txtFailed{
        font-family: Google Sans;
        font-weight: bold;
        font-size: 18px;
        line-height: 138.19%;
        text-align: center;
        color: #00476F;
        margin-top: 36px;
    }
    .txtNote{
        font-family: Google Sans;
        font-size: 18px;
        line-height: 138.19%;
        // text-decoration-line: underline;
        color: #00476F;
    }
    .txtWarning{
        font-family: Google Sans;
        font-weight: bold;
        font-size: 18px;
        line-height: 138.19%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #00476F;
        margin-top: 61px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .groupButton {
        height: 160px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F2F7F9 100%);
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }
    .btnClose{
        height: 60px;
        width: 60px;
        background-color: #00476F;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-color: rgba(255, 255, 255, 0.6);
    }
}